{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hi</title>
  <link rel="stylesheet" href="{% static 'css/signing.css' %}" />

  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <div class="image">
      <img class="img" src="{% static 'img/form-1.png' %}" alt="" />
    </div>

    <div class="form-container" id="form-1">
        <span class="sign-up">Not a member?
            <a href="{% url 'accounts:register' %}">Register now</a>
        </span>
    <div class="title">
        
        <h1>Hello</h1>
        <h2>Welcome back you've been missed!</h2>
      </div>

      <form method="POST" action="." name="signin" class="form">
        {% csrf_token %}

            {{form.username}}

            {{form.password}}

        <button type="submit" class="btn-sign-in btn" href="#">
          Sign In
        </button>
        <a href="#" class="recovery" style="margin-top: -2em">Recovery Password</a>
      </form>
      <hr style="margin-top: 3em">
      <div class="social-container" style="margin-top: 0.8em">
        <img src="{% static 'img/facebook-sign.svg' %}" alt="" />
        <img src="{% static 'img/linkedin-sign.svg' %}" alt="" />
        <img src="{% static 'img/gmail-sign.svg' %}" alt="" />
      </div>
    </div>


  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/signing.js' %}"></script>
</body>

</html> 

{% comment %} <h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Login</button>
</form> {% endcomment %}